*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfvars
secret*.json
*.pem
*.key
__pycache__/
*.pyc
.env
.DS_Store
.docker/
.docker-colima/
.infracost/
node_modules/
.mypy_cache/

# macOS system files
._*
